<form method="POST" action="{% url 'add_user' %}">
    {% csrf_token %}
    <div class="form-container">
        <div class="form-group">
            <label for="username">Usuário</label>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label for="first_name">Nome</label>
            {{ form.full_name }}
        </div>

        <div class="form-group">
            <label for="last_name">Sobrenome</label>
            {{ form.last_name }}
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            {{ form.email }}
        </div>

        <div class="form-group">
            <label for="cargo">Cargo</label>
            {{ form.cargo }}
        </div>

        <div class="form-group">
            <label for="password">Senha</label>
            {{ form.password1 }}
        </div>

        <div class="form-group">
            <label for="confirm_password">Confirmar Senha</label>
            {{ form.confirm_password }}
        </div>

        <button type="submit" class="submit-btn">Cadastrar</button>
    </div>
</form>