{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil{% endblock %}

{% if request.resolver_match.url_name == 'perfil' %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}?v={{ timestamp }}">
{% endblock %}
{% endif %}

{% block content %}
<div class="perfil-container container-fluid">
    <div class="logo">
        <h1><i class="bi bi-gear icon"></i> Configurações da Conta</h1>
    </div>

    <div class="row w-100 equal-height">
        <div class="col-md-5">
            <!-- Card de Informações da Conta -->
            <div class="card info-card">
                <h3 class="name">Informações da Conta</h3>
                <p><i class="bi bi-envelope"></i><span class="property">Email:</span> {{ usuario.email }}</p>
                <p><i class="bi bi-briefcase"></i><span class="property">Cargo:</span> {{ usuario.cargo }}</p>
                <p><i class="bi bi-clock"></i><span class="property">Último Login:</span> {{ usuario.last_login|date:"d.m.Y h:i:s" }}</p>
                <p><i class="bi bi-calendar"></i><span class="property">Conta criada em:</span> {{ usuario.date_joined|date:"d.m.Y H:i:s" }}</p>
            </div>
        </div>

        <div class="col-md-7">
            <!-- Card de Permissões -->
            <div class="card permissoes">
                    <div class="permissoes">
                        <fieldset>
                            <legend><i class="bi bi-lock"></i> Permissões</legend>
                            {% if permissoes %}
                                <div class="permissao">
                                    {% for permissao in permissoes %}
                                    <span><strong>{{ forloop.counter }}:</strong> {{ permissao }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <p>Este cargo não possui permissões definidas.</p>
                            {% endif %}
                        </fieldset>
                    </div>
            </div>
        </div>
    </div>

    <!-- Card de Dados Pessoais e Senha -->
    <div class="card form-card">
        <div class="row w-100 equal-height">
            <div class="col-md-6">
                <!-- FORMULÁRIO DE PERFIL -->
                <form method="post" class="perfil-form">
                    {% csrf_token %}
                        <div class="dados-pessoais">
                            <fieldset>
                                <legend><i class="bi bi-info-circle"></i> Dados Pessoais</legend>
                                <hr>
                                {{ profile_form.as_p }}
                            </fieldset>
                        </div>
                    <button type="submit" name="submit_perfil" class="btn-blue">Salvar Dados</button>
                </form>
            </div>
            
            <div class="col-md-6">
            <!-- FORMULÁRIO DE SENHA -->
                <form method="post" class="senha-form mt-4">
                    {% csrf_token %}
                        <div class="alteracao-senha">
                            <fieldset>
                                <legend><i class="bi bi-key"></i> Alterar Senha</legend>
                                <hr>
                                {{ senha_form.as_p }}
                            </fieldset>
                        </div>
                    <button type="submit" name="submit_senha" class="btn-blue">Alterar Senha</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Card de Histórico de Ações -->
    <div class="row w-100 equal-height">
        <div class="col-md-12">
            <div class="card historico-card">
                <h2><i class="bi bi-clock-history"></i> Histórico de Ações</h2>
                {% if historico %}
                <ul class="historico-lista">
                    <ul class="historico-lista">
                        {% for acao in historico %}
                        <div class="alert alert-primary">
                            <span class="acao-data">{{ acao.data|date:"d.m.Y H:i" }}</span> —
                            <span class="acao-tipo">{{ acao.acao }}</span>
                            <span class="acao-descricao">{{ acao.descricao }}</span>
                        </div>
                        {% endfor %}
                    </ul>
                </ul>
                <div class="pagination">
                    <span class="step-links">
                        {% if historico.has_previous %}
                        <a href="?page=1">&laquo; primeira</a>
                        <a href="?page={{ historico.previous_page_number }}">anterior</a>
                        {% endif %}
                
                        <span class="current">
                            Página {{ historico.number }} de {{ historico.paginator.num_pages }}.
                        </span>
                
                        {% if historico.has_next %}
                        <a href="?page={{ historico.next_page_number }}">próxima</a>
                        <a href="?page={{ historico.paginator.num_pages }}">última &raquo;</a>
                        {% endif %}
                    </span>
                </div>
 
                {% else %}
                <p>Sem ações registradas ainda...</p>
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock %}