{% extends 'base.html' %}
{% load static %}

{% block title %}Usuários{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/users.css' %}?v={{ timestamp }}">
{% endblock %}

{% block content %}
<div class="container-fluid usuarios-container">
    <div class="top-bar d-flex justify-content-between align-items-center mb-4">
        <h1><i class="bi bi-people-fill icon"></i> Gerenciamento de Usuários</h1>
        <a class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#modal_addUser">
            <i class="bi bi-plus-circle"></i> Novo Usuário
        </a>
    </div>
    <!-- Modal para criação de usuário -->
    <div class="modal fade" id="modal_addUser" tabindex="-1" aria-labelledby="modal_addUserLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_addUserLabel"><i class="bi bi-person-plus-fill"></i> Criar Novo
                        Usuário</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <form method="post" action="{% url 'addUser' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ form.non_field_errors }}
                        {{ form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Criar Usuário</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Campo de Busca -->
    <div class="input-group mb-4 w-100">
        <input type="text" id="buscaUsuarios" class="form-control" placeholder="Buscar por nome ou email...">
        <span class="input-group-text"><i class="bi bi-search"></i></span>
    </div>

    <!-- Tabela de Usuários -->
    <div class="card p-3 table-responsive">
        <table class="table table-hover table-bordered table-usuarios align-middle">
            <thead>
                <tr class="text-center">
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Cargo</th>
                    <th>Status</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody id="tabelaUsuarios">
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.get_full_name }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.get_cargo_display }}</td>
                    <td class="text-center">
                        {% if usuario.is_active %}
                        <span class="badge bg-success">Ativo</span>
                        {% else %}
                        <span class="badge bg-danger">Desativado</span>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if usuario.is_active %}
                        <!-- Ações para usuário ativo -->
                        <a class="btn btn-sm btn-outline-info me-1" href="{% url 'editUser' usuario.id %}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <form method="post" action="{% url 'disableUser' usuario.id %}" class="d-inline">
                            {% csrf_token %}
                            <!-- BOTÃO DE DESATIVAR -->
                            <button type="button" class="btn btn-sm btn-danger"
                                onclick='showConfirmModal("Deseja realmente desativar este usuário?", "{% url "disableUser" usuario.id %}")'>
                                <i class="bi bi-person-x-fill"></i>
                            </button>
                        </form>
                        {% else %}
                        <!-- Botão para reativar usuário -->
                        <form method="post" action="{% url 'enableUser' usuario.id %}" class="d-inline">
                            {% csrf_token %}
                            <button type="button" class="btn btn-outline-success"
                                onclick='showConfirmModal("Tem certeza que deseja ativar este usuário?", "{% url "enableUser" usuario.id %}")'>
                                <i class="bi bi-person-check-fill"></i>
                            </button>
                        </form>
                        {% endif %}
                    </td>


                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Nenhum usuário encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/users.js' %}"></script>
{% endblock %}