.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions input {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background-color: #1e293b;
    color: white;
}

.product-table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

.product-table thead {
    border-bottom: 1px solid var(--main-color);
}

.product-table th,
.product-table td {
    padding: 16px;
    padding-right: 20px;
    text-align: left;
    position: relative;
}

body.dark tbody .product-table tr:hover {
    background-color: #1e293b;
}

.clickable-row:not(.sem_permissao) {
    cursor: pointer;
    transition: background-color, border-left;
}

body.dark .clickable-row:not(.disabled-row):hover:hover {
    background-color: #1e293b;
    border-left: 4px solid var(--main-color);
}

.disabled-row {
    background-color: #f8d7da;
    border: 1px solid #721c24;
    color: #721c24;
    opacity: 0.6;
}

.disabled-row:hover {
    background-color: #f8d7da !important;
}

.no-click {
    cursor: not-allowed;
}

.product-table tbody tr:not(.disabled-row):hover {
    background-color: #1e293b;
    border-left: 4px solid var(--main-color);
}

#toastInativo .toast{
    background-color: white;
    border: 1px solid #721c24;
}

#toastInativo .toast-header { background-color: #f8d7da; }

/* DARK */
body.dark #toastInativo .toast {
    background-color: rgb(214, 214, 214);
    color: #202020;
}

body.dark #toastInativo .toast-header {
    background-color: #d1b5b7;
}


/* THEAD */
.product-table th[data-column] {
    cursor: pointer;
    user-select: none;
}

.product-table th::after {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 0.8em;
}

.product-table th.ascending::after {
    content: "▲";
}

.product-table th.descending::after {
    content: "▼";
}

/* SEM PERMISSAO */
.clickable-row.sem_permissao {
    pointer-events: none;
}