body.dark #tabela-saida {
    color: #f0f0f0;
}

body.light #tabela-saida {
    color: #333;
}

#tabela-saida {
    border: 1px solid #ccc !important;
}

#tabela-saida tfoot td,
#tabela-saida tfoot th {
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
}

#tabela-saida tfoot {
    border: 1px solid #ccc !important;
    background-color: #182442;
}

/* TABS */
ul#movimentacaoTabs {
    border: none;
}

ul#movimentacaoTabs button {
    background-color: transparent;
    color: inherit;
    padding: 10px 50px;
    border: none;
}

ul#movimentacaoTabs button.nav-link.active {
    border: 1.5px solid var(--main-color);
    border-bottom: 2px solid transparent;
}

ul#movimentacaoTabs button.nav-link:not(ul#movimentacaoTabs button.active):hover {
    border: none;
    border-bottom: 2px solid var(--dark-main-color);
}