{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil{% endblock %}

{% if request.resolver_match.url_name == 'perfil' %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}?v={{ timestamp }}">
{% endblock %}
{% endif %}

{% block content %}
<div class="perfil-container container-fluid">
    <div class="logo">
        <h1><i class="bi bi-gear-wide-connected icon"></i> Configurações {{ request.user.first_name }} {{ request.user.last_name }}</h1>
    </div>

    <div class="row w-100 equal-height">
        <div class="col-md-5">
            <!-- Card de Informações da Conta -->
            <div class="card info-card">
                <h3 class="name"><i class="bi bi-person-gear"></i> Informações da Conta</h3>
                <p><i class="bi bi-envelope-fill"></i><span class="property">Email:</span> {{ usuario.email }}</p>
                <p><i class="bi bi-briefcase-fill"></i><span class="property">Cargo:</span> {{ usuario.cargo }}</p>
                <p><i class="bi bi-clock-fill"></i><span class="property">Último Login:</span> {{ usuario.last_login|date:"d.m.Y h:i:s" }}</p>
                <p><i class="bi bi-calendar-fill"></i><span class="property">Conta criada em:</span> {{ usuario.date_joined|date:"d.m.Y H:i:s" }}</p>
            </div>
        </div>

        <div class="col-md-7">
            <!-- Card de Permissões -->
            <div class="card permissoes">
                <div class="permissoes">
                    {% if permissoes %}
                    <fieldset>
                        <legend><i class="bi bi-unlock2-fill"></i> Permissões</legend>
                        <div class="row">
                            {% for grupo, colunas in permissoes.items %}
                            <div class="mb-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% for permissao in colunas.col1 %}
                                        <p><strong>{{ forloop.counter }}.</strong> {{ permissao }}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-6">
                                        {% with offset=colunas.col1|length %}
                                        {% for permissao in colunas.col2 %}
                                        <p><strong>{{ forloop.counter|add:offset }}.</strong> {{ permissao }}</p>
                                        {% endfor %}
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}                          
                        </div>
                    </fieldset>
                    {% else %}
                    <p>Este cargo não possui permissões definidas.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Card de Dados Pessoais e Senha -->
    <div class="card form-card dados-pessoais">
        <div class="row w-100" style="min-height: 100%;">
            
            <!-- FORMULÁRIO DE PERFIL -->
            <div class="col-md-6 d-flex flex-column">
                <form method="post" class="perfil-form d-flex flex-column flex-grow-1">
                    {% csrf_token %}
                    <fieldset class="flex-grow-1 d-flex flex-column">
                        <legend><i class="bi bi-person-fill"></i> Dados Pessoais</legend>
                        <hr>
                        {% for field in profile_form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}">
                                <strong>{{ field.label }}</strong>
                                {% if field.help_text %}
                                <i class="bi bi-question-circle-fill help-tooltip" data-bs-toggle="tooltip"
                                    data-bs-placement="right" data-bs-title="{{ field.help_text|striptags }}"
                                    style="font-size: 14px;"></i>
                                {% endif %}
                            </label>
                            {{ field }}
                        </div>
                        {% endfor %}
                        <button type="submit" name="submit_perfil" class="btn-blue mt-auto">Salvar Dados</button>
                    </fieldset>
                </form>
            </div>

            <!-- FORMULÁRIO DE SENHA -->
            <div class="col-md-6 d-flex flex-column">
                <form method="post" class="senha-form d-flex flex-column flex-grow-1">
                    {% csrf_token %}
                    <fieldset class="flex-grow-1 d-flex flex-column">
                        <legend><i class="bi bi-shield-lock-fill"></i> Alterar Senha</legend>
                        <hr>
                        <div class="mb-3 flex-grow-1">
                            {{ senha_form.as_p }}
                        </div>
                        <button type="submit" name="submit_senha" class="btn-blue mt-auto">Alterar Senha</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>    
    

    <!-- Card de Histórico de Ações -->
    <div class="row w-100 equal-height">
        <div class="col-md-12">
            <div class="card historico-card">
                <h2><i class="bi bi-clock-history"></i> Histórico de Ações</h2>
                {% if historico %}
                <ul class="historico-lista">
                    {% for acao in historico %}
                        <li class="historico-item">
                            <div class="alert alert-{{ acao.tipo }} align-items-center" role="alert">                                
                                <div class="row">
                                    <div class="col-1 align-self-center text-center">
                                        <div class="bi flex-shrink-0 me-2" aria-label="Info:">
                                            <i class="icon bi bi-hourglass-split"></i>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <strong>{{ acao.usuario.username }}</strong>
                                        <small class="text-muted">em {{ acao.data|date:"d.m.Y H:i" }}</small><br>
                                        <span class="text-capitalize fw-bold">{{ acao.acao }}</span>:
                                        <span class="fst-italic border-bottom border-{{ acao.tipo }}">{{ acao.descricao }}</span>
                                        {% if acao.valor_anterior and acao.valor_novo %}
                                        <br>
                                        <span class="text-muted">antes:</span> {{ acao.valor_anterior }}
                                        <span class="text-muted ms-2">depois:</span> {{ acao.valor_novo }}
                                        {% else %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="pagination justify-content-center mt-3">
                    <span class="step-links">
                        {% if historico.has_previous %}
                        <a href="?page=1"><i class="bi bi-skip-backward-fill fs-6"></i> primeira</a>
                        <a class="ms-2" href="?page={{ historico.previous_page_number }}"><i class="bi bi-skip-start fs-6"></i> anterior</a>
                        {% endif %}
                
                        <span class="current ms-5 me-5">
                            {{ historico.number }} - {{ historico.paginator.num_pages }}.
                        </span>
                
                        {% if historico.has_next %}
                        <a href="?page={{ historico.next_page_number }}">próxima <i class="bi bi-skip-end fs-6"></i></a>
                        <a class="ms-2" href="?page={{ historico.paginator.num_pages }}">última <i class="bi bi-skip-forward-fill fs-6"></i></a>
                        {% endif %}
                    </span>
                </div>
 
                {% else %}
                <p>Sem ações registradas ainda...</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
{% endblock %}